body {
  background: #0147A7;
  color: #fff;
}

a {
  color: #03A9F4;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

div.host {
  height:50px;
}

.active {
  font-size:2em;
}

.panel {
  display:flex;
  justify-content:space-around;
}

ul.tablet-list {
  width:35vw;
}
