<main>  
  <input placeholder="roomName" ng-model="$ctrl.roomName"/>
  <button ng-click="$ctrl.createRoom($ctrl.roomName)">Create Room</button>

  <hr/>

  <input placeholder="userName" ng-model="userName"/>
  <button ng-click="$ctrl.joinRoom($ctrl.roomName, userName)">Join Room</button>

  <hr/>

  <div class="host" ng-repeat="host in $ctrl.hosts">
    <span ng-click="$ctrl.roomName = host.name"
	  ng-class="{active:$ctrl.roomName == host.name}">
      {{host.name}}
    </span>
  </div>

  <input ng-model="message">
  <button ng-click="$ctrl.send(message)">
    send
  </button>

  <hr/>

  <div class="panel">
    <ul class="tablet-list">
      <li ng-repeat="offer in $ctrl.offers"
	  ng-click="$ctrl.acceptOffer($index)">
	{{offer.userData}}
      </li>
    </ul>

    <ul class="tablet-list">
      <li ng-repeat="channel in $ctrl.channels"
	  ng-click="$ctrl.setCurrentChannel($index)"
	  ng-class="{active:$index==$ctrl.currentChannelIndex}">
	{{channel.label}}
      </li>
    </ul>
  </div>
  
</main>
